<a href="https://colab.research.google.com/github/endzix22/And-elika/blob/main/UM1_(przygotowanie_danych).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hellol word")

hellol word

In [2]:
import pandas as pd
import numpy as np

PRZYGOTOWANIE DANYCH PRZED ML

In [3]:
## w przygotowaniu danych zalezy nam aby jednak kolumny zawieraly dane numeryczne. 
## jesli jednak trafi sie rubryka np. z kolorem, to stosuje sie metode:
## pd.get_dummies(),
## pozwala ona na zmapowanie ...

In [4]:
#nastepnie jak sa kolumny numeryczne i np. waga sie mega waha liczbowo, 
## dane sie standaryzuje ((od danej-srednia)/odch.stand)

In [5]:
import sklearn

sklearn.__version__

'1.0.2'

WYGENEROWANIE DANYCH

In [6]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
df_raw = pd.DataFrame(data=data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

ZAWSZE PRACUJ NA KOPII DANYCH, STĄD:

In [7]:
df=df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [8]:
## teraz lepiej przetworzyc zmienne object na zmienne kategoryczne, aby zmniejszyc np. pamiec

In [9]:
# wybieramy zmienne object
for col in ['size','color','gender','bought']:
  df[col]=df[col].astype('category')

In [10]:
# wage zmienmy na float 
df['weight']=df['weight'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

Teraz zobaczmy statystyki dotyczace tego DF

In [11]:
df.describe()
#dotyczy tylko danych (kolumn) numerycznych

            price      weight
count    5.000000    5.000000
mean   119.000000  408.000000
std     48.476799   75.299402
min     79.000000  300.000000
25%     89.000000  380.000000
50%     99.000000  410.000000
75%    129.000000  450.000000
max    199.000000  500.000000

In [12]:
#uzyjmy transponowania do powyzszej kolumny
df.describe().T
# % sa to kwantyle rozkladu

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  408.0  75.299402  300.0  380.0  410.0  450.0  500.0

uzykanie info statystycznych do typu 'category'

In [13]:
df.describe(include=['category']).T

       count unique     top freq
size       5      3       L    2
color      5      3   green    2
gender     5      2  female    3
bought     5      2     yes    3

KODOWANIE

In [14]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

In [15]:
## chcemy nasz obiekt przygotowac do modelu uczenia maszynowe

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
##zakladamy klasyfikator binarny:
# df['bought']='yes'-->1
#df['bought']='no'-->0
#teraz bedziemy to na dole robic

In [18]:
le=LabelEncoder()
le.fit(df['bought'])  #dopasowuje 0 lub 1 
le.transform(df['bought']) #mapowanie i przygotowanie danych do modelu

array([1, 0, 1, 0, 1])

In [19]:
#zlaczenie 2 wczesniejszych polecen w 1 polecenie
le.fit_transform(df['bought'])

array([1, 0, 1, 0, 1])

In [20]:
le.classes_
#wyswietla jak wyglada to mapowanie

array(['no', 'yes'], dtype=object)

In [21]:
#przekazanie DF do modelu:
df['bought']=le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

In [22]:
#powrot do pierwotnej postaci kolumny np. 'bought'
df['bought']=le.inverse_transform(df['bought'])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

OneHotEncoder

Częściej korzysta się z Pandas get_dummies(), niżej o tym:

Macierz rzadka- dominują 0 i 1, ale jest bardzo duzo danych

In [23]:

# do macierzy rzadkich, czytaj jak sa same 0 i 1, to ze wzgledu 
#na pamiec, lepiej to tak przeksztalcic aby posiadac jedynie tylko 
#pozycje np. tylko 1
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False)
encoder.fit(df[['size']])

OneHotEncoder(sparse=False)

In [24]:
encoder.transform(df[['size']])
#kodowanie na kolumnie size

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [25]:
encoder.categories_
#zobaczmy sobie na atrybut 'categories' naszego kdoowania
#pierwsza kolumna to L 
#druga kolumna to M.. itd

[array(['L', 'M', 'XL'], dtype=object)]

In [26]:
## po kodowaniu trzeba otrzymac n-1 kolumn, stad:

In [27]:
encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

In [28]:
df
#z bought wrocilimy tylko do pogladu do pierwotnej postaci

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

Pandas get_dummies()

jest czesciej stosowana niz OneHotEncoder, bo jest bardziej elastyczna

In [29]:
pd.get_dummies(data=df)
#wszystkie zmienne kategoryczne zostaly zakodowane

,price,weight,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male,bought_no,bought_yes
0,199.0,500.0,0,0,1,0,0,1,1,0,0,1
1,89.0,450.0,1,0,0,0,1,0,0,1,1,0
2,99.0,300.0,0,1,0,1,0,0,0,1,0,1
3,129.0,380.0,1,0,0,0,1,0,1,0,1,0
4,79.0,410.0,0,1,0,0,0,1,1,0,0,1

In [30]:
pd.get_dummies(data=df,drop_first=True)
#bo kodowanie n-1 wymiaru, kolumny sa dopasowane juz do naszego modelu

,price,weight,size_M,size_XL,color_green,color_red,gender_male,bought_yes
0,199.0,500.0,0,1,0,1,0,1
1,89.0,450.0,0,0,1,0,1,0
2,99.0,300.0,1,0,0,0,1,1
3,129.0,380.0,0,0,1,0,0,0
4,79.0,410.0,1,0,0,1,0,1

In [31]:
pd.get_dummies(data=df,drop_first=True,prefix_sep='-')
#zamiast podlogi myslnik w tym get_dummies, po kodowaniu

,price,weight,size-M,size-XL,color-green,color-red,gender-male,bought-yes
0,199.0,500.0,0,1,0,1,0,1
1,89.0,450.0,0,0,1,0,1,0
2,99.0,300.0,1,0,0,0,1,1
3,129.0,380.0,0,0,1,0,0,0
4,79.0,410.0,1,0,0,1,0,1

In [32]:
# zastosowanie get_dummies (kodowania) tylko do wybrach kolumn:
pd.get_dummies(data=df,drop_first=True,columns=['size'])
#plus drop jest na jednej

   color  gender  price  weight bought  size_M  size_XL
0    red  female  199.0   500.0    yes       0        1
1  green    male   89.0   450.0     no       0        0
2   blue    male   99.0   300.0    yes       1        0
3  green  female  129.0   380.0     no       0        0
4    red  female   79.0   410.0    yes       1        0

Standaryzacja - StandardScaler


*   std() - pandas nieobciążony
*   std() - numpy obciążony

In [33]:
#Standaryzacja- taka postac gdzie skala wartosci nie ma znaczenia,
# ale ma znaczenie ich wariancja (odchylenie od sredniej)
#np. za duza zmienna wplywajaca na mode i dane potrzebne moga zostac utracone 
#przy projketowaniu modelu

In [34]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

In [35]:
#podglad na srednia i odchylenie standardowe w bibliotece pandas
print(f"{df['price']}\n")
print(f"Średnia: {df['price'].mean()}")
print(f"Odchylenie standardowe: {df['price'].std():.4f}")

0    199.0
1     89.0
2     99.0
3    129.0
4     79.0
Name: price, dtype: float64

Średnia: 119.0
Odchylenie standardowe: 48.4768

In [36]:
#1 sposob
#zmienienie tych wartosci wyzej na ustandaryzowane czyli skupione wokol 0
(df['price'] - df['price'].mean()) / df['price'].std()

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [37]:
#2 sposob na to co wyzej tylko przy pomocy napisanej funkcji
def standardize(x):
    return (x - x.mean()) / x.std()

standardize(df['price'])

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [38]:
#3 sposob użycie gotowej funkcji z biblioteki
from sklearn.preprocessing import scale
scale(df['price'])
#jednak te wartosci sie roznia od tych obliczonych wyzej,
#nie przejmujmy sie, jest to kwestia estymatora obciazonego i nieobciazonego wariancji

array([ 1.84506242, -0.69189841, -0.4612656 ,  0.2306328 , -0.92253121])

Najczęciej stosowana metoda na standaryzację:

In [39]:
#4sposob 
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(df[['price']])
scaler.transform(df[['price']])

array([[ 1.84506242],
       [-0.69189841],
       [-0.4612656 ],
       [ 0.2306328 ],
       [-0.92253121]])

In [40]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

Standaryzacja wszystkich wartosci numeryczncyh w wybranych kolumnach

In [41]:
#standaryzacja wszystkich wartosci numeryczncyh w tabeli
scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])
df

  size  color  gender     price    weight bought
0   XL    red  female  1.845062  1.366002    yes
1    L  green    male -0.691898  0.623610     no
2    M   blue    male -0.461266 -1.603567    yes
3    L  green  female  0.230633 -0.415740     no
4    M    red  female -0.922531  0.029696    yes

PRZYGOTOWANIE DANYCH DO MODELU (OD POCZATKU)

In [42]:
#zawsze zaczynaj od utworzenia kopii!!
df=df_raw.copy()
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [44]:
#tworzymy klase, ktora zakoduje nasza kolumne 'bought'
le = LabelEncoder()

df['bought'] = le.fit_transform(df['bought'])
#standaryzacja danych liczbowych
scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])
#zmienne kategoryczne
df = pd.get_dummies(data=df, drop_first=True)
df

,price,weight,bought,size_M,size_XL,color_green,color_red,gender_male
0,1.845062,1.366002,1,0,1,0,1,0
1,-0.691898,0.623610,0,0,0,1,0,1
2,-0.461266,-1.603567,1,1,0,0,0,1
3,0.230633,-0.415740,0,0,0,1,0,0
4,-0.922531,0.029696,1,1,0,0,1,0